* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
}

header .container {
    background-color: #C0392B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.container h2 {
    color: #FFFFFF;
}

.container a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 20px;
}

.card1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
}

.text h2 {
    width: 350px;
    font-size: 30px;
}

.text p {
    font-size: 15px;
    width: 280px;
}

.card2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
}

#thucdon {
    text-align: center;
    color: #C0392B;
    line-height: 120px;
    margin-top: 20px;
}

.menu {
    width: 300px;
    background-color: #FFF9F5;
    border-radius: 8px;
    border: 1px solid #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
}

.menu h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu p {
    color: #C0392B;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 78px;
    color: #FFFFFF;
    background-color: #2C2C2C;
    display: flex;
    align-items: center;
    justify-content: center;
}
